.container {
  background-color: rosybrown;
  margin: 10px auto;
  width: 400px;
  text-align: center;
  height: 400px;
}

.Header {
  font-size: 30px;
  padding: 10px;
}

.input {
  background-color: black;
  height: 30px;
  color: #fff;
  border-radius: 10px;
  margin: 10px 5px 10px 50px ;
  text-align: left;
  width: 220px;
}

.input:focus {
  border: none;
  border-color: aliceblue;
}

.addButton {
    border-radius: 5px;
    width: 60px;
    height: 35px;
}

.listItem{
    list-style: none;
    /* background-color: thistle; */
    width: 250px;
    margin:0 0 10px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputText{
  background-color: thistle;
  border: 1px solid #fff;
  margin-left: 120px;
  margin-right: 10px;
  max-height:30px;
  border-radius: 10px;
padding: 8px;
}

.inputText:focus{
  border-color: #fff;
  cursor: none;
}
.label{
    padding: 5px;
    margin: 0;
}

.editButton{
    background-color: chocolate;
    /* border: none; */
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    padding: 6px;
    /* margin: auto; */
}

.deleteButton{
    background-color: red;
    /* border: none; */
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 6px;
}